---
import { getCollection } from "astro:content";
import SolidButton from "../../components/buttons/SolidButton.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<!-- Categories: Development, Tech-Adjacent, Miscellaneous -->
<BlogLayout title="Matthew Berger | Blog">
  {
    posts.map((post, idx) => {
      if (idx === 0) {
        return (
          <div class="rounded-2xl bg-blue-600 p-4">
            {post.data.image && (
              <img
                src={post.data.image}
                alt="Project card image"
                class="aspect-video rounded-xl border-blue-600 object-cover"
              />
            )}
            <div class="p-4">
              <h3 class="font-phudu">{post.data.type}</h3>
              <h2 class="font-phudu text-2xl font-medium text-livid-200">
                {post.data.title}
              </h2>
              <p class="max-w-[55ch] leading-relaxed font-width-[87]">
                {post.data.summary}
              </p>
              <SolidButton
                text="Read More"
                background="yellow"
                foreground="blue"
                path={`/blog/${post.id}`}
              />
            </div>
          </div>
        );
      } else {
        return (
          <ProjectCard
            title={post.data.title}
            summary={post.data.summary}
            image={post.data.image}
            slug={`/blog/${post.id}`}
            type={post.data.type}
          />
        );
      }
    })
  }
</BlogLayout>
