---
import { Image, Picture } from "@astrojs/image/components";
import Spacer from "../../components/Spacer.astro";
import MainLayout from "../../layouts/MainLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!-- Categories: Development, Tech-Adjacent, Miscellaneous -->

<MainLayout title="Matthew Berger | Blog">
  <h1 class="text-5xl font-semibold pt-24">Blog</h1>
  <div class="py-8">
    <ul class="flex md:space-x-12 text-lg flex-col md:flex-row">
      <li class="font-semibold text-xl underline underline-offset-[12px] py-2"><a href="./">All Posts</a></li>
      <li class="hover:underline hover:underline-offset-[12px] py-2"><a href="/blog/category/development">Development</a></li>
      <li class="hover:underline hover:underline-offset-[12px] py-2"><a href="/blog/category/tech-adjacent">Tech Adjacent</a></li>
      <li class="hover:underline hover:underline-offset-[12px] py-2"><a href="/blog/category/miscellaneous">Miscellaneous</a></li>
    </ul>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-[3fr_2fr] grid-rows-auto lg:grid-rows-3 gap-6">
    {posts.slice(0,4).map((post, idx) => {
      if (idx === 0) {
        return (
            <a href={post.url} class="row-span-3 rounded-md overflow-hidden relative group h-full">
              <div class="sm:h-full">
              <img src={post.frontmatter.image} alt='Project card image' class="object-cover group-hover:scale-105 transition-transform duration-300"/>
              </div>
              <div class="rounded-md bg-default-300 text-white sm:absolute bottom-4 left-4 sm:w-7/12 p-4">
                <span class="text-brandTeal uppercase">{post.frontmatter.type}</span>
                <h2 class="font-bold text-2xl mb-2 mr-6">{post.frontmatter.title}</h2>
                <p class="mr-12">{post.frontmatter.summary}</p> 
              </div>
            </a> 
        )
      } else {
        return (
            <a href={post.url} class="rounded-md bg-default-300 text-white p-4 hover:scale-105 transition-transform duration-300">
              <span class="text-brandTeal uppercase">{post.frontmatter.type}</span>
              <h2 class="font-bold text-2xl mb-2">{post.frontmatter.title}</h2>
              <p class="mr-4">{post.frontmatter.summary}</p>
            </a>
        )
      }
    })
    }
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 pt-6">
    {posts.slice(4).map(post => 
      <a href={post.url} class={`rounded-md text-white border-white overflow-hidden h-96 bg-cover bg-center hover:scale-105 transition-transform duration-300`} style={`background-image: url("${post.frontmatter.image}");`}>
        <div class="bottom-0 bg-gradient-to-t from-default-300 from-20% p-4 h-96 flex justify-end flex-col">
          <div/>
          <div class="pb-4">
            <span class="text-brandTeal uppercase">{post.frontmatter.type}</span>
            <h2 class="font-bold text-2xl mb-2">{post.frontmatter.title}</h2>
            <p>{post.frontmatter.summary}</p>
          </div>
        </div>
      </a>
    )}
    </div>
  <Spacer/>
</MainLayout>
