---
import { Image, Picture } from "astro:assets";
import Spacer from "../../components/Spacer.astro";
import MainLayout from "../../layouts/MainLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf(),
);
---

<!-- Categories: Development, Tech-Adjacent, Miscellaneous -->
<MainLayout title="Matthew Berger | Blog">
  <h1 class="pt-24 text-5xl font-semibold">Blog</h1>
  <div class="py-8">
    <ul class="flex flex-col text-lg md:flex-row md:space-x-12">
      <li class="py-2 text-xl font-semibold underline underline-offset-[12px]">
        <a href="./">All Posts</a>
      </li>
      <li class="py-2 hover:underline hover:underline-offset-[12px]">
        <a href="/blog/category/development">Development</a>
      </li>
      <li class="py-2 hover:underline hover:underline-offset-[12px]">
        <a href="/blog/category/tech-adjacent">Tech Adjacent</a>
      </li>
      <li class="py-2 hover:underline hover:underline-offset-[12px]">
        <a href="/blog/category/miscellaneous">Miscellaneous</a>
      </li>
    </ul>
  </div>

  <div
    class="grid-rows-auto grid grid-cols-1 gap-6 lg:grid-cols-[3fr_2fr] lg:grid-rows-3"
  >
    {
      posts.slice(0, 4).map((post, idx) => {
        if (idx === 0) {
          return (
            <a
              href={post.url}
              class="group relative row-span-3 h-full overflow-hidden rounded-md"
            >
              <img
                src={post.frontmatter.image}
                alt="Project card image"
                class="h-auto w-auto min-w-full object-cover transition-transform duration-300 group-hover:scale-105 md:min-h-full"
              />
              <div class="bottom-4 left-4 rounded-md bg-default-300 p-4 text-white sm:absolute sm:w-7/12">
                <span class="text-brandTeal uppercase">
                  {post.frontmatter.type}
                </span>
                <h2 class="mb-2 mr-6 text-2xl font-bold">
                  {post.frontmatter.title}
                </h2>
                <p class="mr-12">{post.frontmatter.summary}</p>
              </div>
            </a>
          );
        } else {
          return (
            <a
              href={post.url}
              class="rounded-md bg-default-300 p-4 text-white transition-transform duration-300 hover:scale-105"
            >
              <span class="text-brandTeal uppercase">
                {post.frontmatter.type}
              </span>
              <h2 class="mb-2 text-2xl font-bold">{post.frontmatter.title}</h2>
              <p class="mr-4">{post.frontmatter.summary}</p>
            </a>
          );
        }
      })
    }
  </div>
  <div class="grid grid-cols-1 gap-6 pt-6 sm:grid-cols-2 md:grid-cols-3">
    {
      posts.slice(4).map((post) => (
        <a
          href={post.url}
          class={`h-96 overflow-hidden rounded-md border-white bg-cover bg-center text-white transition-transform duration-300 hover:scale-105`}
          style={`background-image: url("${post.frontmatter.image}");`}
        >
          <div class="bottom-0 flex h-96 flex-col justify-end bg-gradient-to-t from-default-300 from-20% p-4">
            <div />
            <div class="pb-4">
              <span class="text-brandTeal uppercase">
                {post.frontmatter.type}
              </span>
              <h2 class="mb-2 text-2xl font-bold">{post.frontmatter.title}</h2>
              <p>{post.frontmatter.summary}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
  <Spacer />
</MainLayout>
