---
import Nav from "../../components/Nav.astro";
import ProjectCardFull from "../../components/ProjectCardFull.astro";
import Layout from "../../layouts/Layout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Matthew Berger | Blog">
    <h1  class="text-4xl font-crete-round py-8">Blog</h1>
    {posts.map((post) => (
        <ProjectCardFull
            title={post.frontmatter.title}
            summary={post.frontmatter.summary}
            image={post.frontmatter.image}
            slug={post.url}
            projectLinks={post.frontmatter.projectLinks}
        />
    ))}
</Layout>