---
import BlogCard from "../components/BlogCard.astro";
import SolidButton from "../components/buttons/SolidButton.astro";
import Spacer from "../components/Spacer.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ResumeItem from "../components/ResumeItem.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("posts");

const projects = articles
  .filter((post) => post.data.type === "Development")
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  );

const posts = articles
  .filter((post) => post.data.type !== "Development")
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  );
---

<MainLayout title="Matthew Berger">
  <div
    class="flex items-center justify-center rounded-3xl bg-blue-600 py-44"
    transition:name="hero"
  >
    <h1
      class="text-center font-phudu text-8xl font-extrabold text-yellow-600 opacity-0"
      transition:name="hero-title"
      id="hero-title"
    >
      I'm Matthew. <br /> Nice to Meet You!
    </h1>
  </div>

  <Spacer />

  <!-- Resume -->
  <section class="flex flex-col-reverse gap-8 md:flex-row">
    <div class="basis-2/3 space-y-8" id="resume-items">
      <ResumeItem />
      <ResumeItem />
      <ResumeItem />
    </div>
    <div class="basis-1/3 rounded-3xl bg-orange-600 p-8">
      <h2
        class="py-8 font-phudu text-8xl font-extrabold text-yellow-600 md:rotate-180 md:[writing-mode:vertical-lr]"
      >
        My Experience
      </h2>
      <SolidButton
        text="View Full Resume"
        path="/blog"
        background="yellow"
        foreground="orange"
      />
    </div>
  </section>

  <Spacer />

  <!-- Projects -->
  <h2 class="font-phudu text-8xl font-extrabold text-yellow-600">
    My Projects
  </h2>
  <section class="flex flex-col items-stretch gap-8 md:flex-row">
    {
      projects &&
        projects.slice(0, 3).map((project) => (
          <a
            href={`/blog/${project.id}`}
            class="group flex flex-1 flex-col rounded-lg bg-blue-600 p-6 transition-all duration-300 hover:translate-y-[-1rem] motion-reduce:transform-none motion-reduce:transition-none"
          >
            <h3 class="mb-4 font-phudu text-3xl font-semibold text-livid-200">
              {project.data.title}
            </h3>
            <p class="text-md md:text-lg lg:text-base">
              {project.data.summary}
            </p>
          </a>
        ))
    }
  </section>
  <div class="float-right">
    <SolidButton
      text="View All Projects"
      path="/blog/development"
      background="yellow"
      foreground="livid"
    />
  </div>

  <Spacer />

  <!--  Thoughts -->
  <section class="flex flex-col gap-8 md:flex-row">
    <div class="basis-1/3 rounded-3xl bg-yellow-600 p-8">
      <h2
        class="py-8 font-phudu text-8xl font-extrabold text-orange-600 md:rotate-180 md:[writing-mode:vertical-lr]"
      >
        Thoughts
      </h2>
      <SolidButton
        text="View All Posts"
        path="/blog"
        background="orange"
        foreground="yellow"
      />
    </div>
    <div class="basis-2/3">
      {
        posts &&
          posts
            .slice(0, 3)
            .map((post) => (
              <BlogCard
                title={post.data.title}
                summary={post.data.summary}
                image={post.data.image}
                slug={`/blog/${post.id}`}
                type={post.data.type}
              />
            ))
      }
    </div>
  </section>
</MainLayout>

<script>
  import { animate, inView, stagger } from "motion";

  inView("#hero-title", (info) => {
    animate(info.target, { opacity: 1 }, { duration: 0.5 });
  });

  inView("#resume-items > div", (info) => {
    animate(info.target, { y: 0, opacity: 1 }, { delay: stagger(4) });
  });
</script>
