---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  summary: string;
  image?: string;
  slug: string;
  type: string;
}

const { title, summary, image, slug, type } = Astro.props;
---

<a
  href={slug}
  class="flex transform flex-col gap-8 border-b border-livid-500 p-6 transition-transform duration-300 hover:-translate-y-[0.25rem] motion-reduce:transform-none motion-reduce:transition-none xs:flex-row md:flex-col lg:flex-row"
>
  <div class="basis-3/4">
    <span class="font-phudu">{type}</span>
    <h3 class="font-phudu text-2xl font-medium text-orange-600">
      {title}
    </h3>
    <p class="max-w-[70ch] font-width-[90] md:text-lg lg:text-base">
      {summary}
    </p>
  </div>
  <div class="basis-1/4">
    {
      image && (
        <Image
          src={image}
          class="rounded-lg object-cover"
          width={"200"}
          height={"200"}
          alt={"Blog Header Image"}
          format={"webp"}
        />
      )
    }
  </div>
</a>
