---
import type { CollectionEntry } from "astro:content";

const { date, title, company, companyLink, description, tools } = (
  Astro.props.job as CollectionEntry<"jobs">
).data;
---

<div class="flex -translate-y-8 flex-col opacity-0 lg:flex-row lg:gap-8">
  <div class="whitespace-nowrap font-phudu font-semibold text-livid-500">
    {date}
  </div>
  <div>
    <h3 class="font-phudu text-xl font-semibold text-yellow-600">
      {title} &mdash; <a href={companyLink} target="_blank">{company}</a>
    </h3>
    <ul
      class="max-w-[55ch] list-['–___'] font-width-[87] marker:mr-2 marker:text-livid-500"
    >
      {description.map((desc) => <li class="">{desc}</li>)}
    </ul>
    <ul class="flex flex-wrap gap-2 pt-2">
      {
        tools.map((tool) => (
          <li class="rounded-full bg-livid-700 px-3.5 py-1.5 text-xs font-semibold leading-relaxed text-livid-300 font-width-[90]">
            {tool}
          </li>
        ))
      }
    </ul>
  </div>
</div>
