---
import Nav from "../../components/Nav.astro";
import ProjectCardFull from "../../components/ProjectCardFull.astro";
import Spacer from "../../components/Spacer.astro";
import MainLayout from "../../layouts/MainLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<MainLayout title="Matthew Berger | Projects">
  <h1 class="text-4xl font-crete-round py-8">Projects</h1>
  <div class="space-y-12">
    {
      posts.map((post) => (
        <ProjectCardFull
          title={post.frontmatter.title}
          summary={post.frontmatter.summary}
          image={post.frontmatter.image}
          slug={post.url}
          projectLinks={post.frontmatter.projectLinks}
        />
      ))
    }
  </div>
  <Spacer/>
</MainLayout>
