---
import OutlineButton from "../components/buttons/OutlineButton.astro";
import MainLayout from "./MainLayout.astro";

export interface Props {
  content: {
    title: string;
    summary: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    links?: string[];
  };
}

const getRosettaData = (url: string) => {
  if (url.includes("figma.com")) {
    return { icon: "ri:github-fill", text: "View on Figma" };
  } else if (url.includes("github.com")) {
    return { icon: "ri:github-fill", text: "View Source Code" };
  } else {
    return { icon: "ph:link-simple-bold", text: "View Project" };
  }
};

const {
  content: { title, summary, pubDate, updatedDate, heroImage, links },
} = Astro.props;
---

<MainLayout title={`Matthew Berger | ${title}`}>
  <nav class="pb-4 font-phudu">
    <a href="/blog">Blog</a> > <a href=`/blog/development`>Development</a>
  </nav>
  <div
    class="flex min-h-96 flex-col justify-between gap-16 rounded-3xl bg-blue-600 px-8 pb-8 pt-24"
  >
    <div>
      <h1
        class="pt-1/3 text-left font-phudu text-5xl font-extrabold text-yellow-600 sm:text-6xl md:text-7xl"
      >
        {title}
      </h1>
      <h2 class="font-phudu text-xl">{pubDate}</h2>
    </div>
    <div>
      {
        links &&
          links.map((link) => {
            const { icon, text } = getRosettaData(link);
            return (
              <div class="mr-6 inline-block">
                <OutlineButton
                  text={text}
                  path={link}
                  icon={icon}
                  theme="light"
                />
              </div>
            );
          })
      }
    </div>
  </div>
  <article class="prose prose-slate prose-invert pt-16">
    <slot />
  </article>
</MainLayout>
